body {
    background: rgb(0, 255, 204);
    color: rgb(100, 69, 27);
    padding: 10px;
    font-family: arial;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(0, 255, 204);
   margin: 0 auto;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(100, 69, 27);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #64451b;
}

/* main container area beneath menu */
main {
    background: rgb(0, 255, 204);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px rgb(0, 255, 204) ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
.content h1 {
    color: rgb(100, 69, 27);
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #00ffcc;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #ffffff;
}

#portfolio a {
    text-decoration: none;
    color: #503816;
}